@import "../../variables/variables.scss";
.currency {
    float: left;
    padding: 10px;
    &:hover {
        background-color: $marine;
        color: $white;
        transition: 0.3s;
    }
    &:not(:hover) {
        transition: 0.3s;
    }
}