@import "../../variables/variables.scss";
.currency {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    &:hover {
        background-color: $brand-color;
        color: $white;
        transition: 0.3s;
    }
    &:not(:hover) {
        transition: 0.3s;
    }
}