//layout
$inner-width: 1170px;
$content-width: 1770px;
$mobile: 320px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1769px;
//colors
$marine: #00c8c8;
$white: #ffffff;
$gray: #333333;
$light-gray: #777777;