@import "../../../variables/variables.scss";
.product-description__compare {
  margin-top: 30px;
  @media(max-width: $xs) {
    font-size: 12px;
    margin: 0 auto;
    margin-top: 30px;
  }
  @media (min-width: $xs) and (max-width: $md) {
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 12px;
  }
}