.lookbook {
    float: left;
    width: 32%;
    height: 530px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-top: 25px;
}

.lookbook + .lookbook {
    margin-left: 2%;
}

.lookbook-wrapper {
    overflow: hidden;
}