@import "../../variables/variables.scss";
.lookbook {
    display: flex;
    width: 32%;
    height: 530px;
    background-color: $background-color;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 10px;
    @media (min-width: $sm) and (max-width: $lg) {
        height: 400px;
    }
}

.lookbook + .lookbook {
    margin-left: 2%;
}

.lookbook-wrapper {
    overflow: hidden;
}