@import "../../../variables/variables.scss";
.button-order__icon {
  padding: 0 10%;
  @media(max-width: $xs) {
    padding: 0 3px;
  }
  @media(min-width: $xs) and (max-width: $md) {
    padding: 0;
  }
}