@import "../../variables/variables.scss";
.auth {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  overflow: hidden;
  margin-right: 3%; 
  @media(max-width: $md) {
    margin-left: 0;
  }
}