@import "../../../variables/variables.scss";
.auth__signin {
  padding: 10px;
  overflow: hidden;
  @media(max-width: $xs) {
    margin-left: 10px
  }
  &_link {
    color: $secondary-color;
  }
  &_link:hover {
    color: $brand-color;
  }
}