.catalog__item {
  float: left;
  box-sizing: border-box;
  margin: 2% 2% 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  font-size: 21px;
  &_small {
    width: 23.5%;
    height: 500px;
  }
  &_big {
    width: 49%;
    height: 700px;
    margin-right: 0;
  }
  &_right {
    float: right;
    margin-right: 0;
  }
  &:hover {
    transition: 0.7s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  &:not(:hover) {
    transition: 0.7s;
  }
}

.catalog__item:nth-child(4) {
  margin-right: 2%;
}

.catalog__item:nth-child(6) {
  margin-right: 0;
}

.catalog__item:nth-child(10) {
  margin-right: 0;
}

.catalog__item_1,
.catalog__item_7,
.catalog__item_9 {
  background-image: url(../img/photo1.png);
}

.catalog__item_2,
.catalog__item_8,
.catalog__item_10,
  {
  background-image: url(../img/photo2.png);
}

.catalog__item_3 {
  background-image: url(../img/photo3.png);
}

.catalog__item_4 {
  background-image: url(../img/photo4.png);
}

.catalog__item_5 {
  background-image: url(../img/photo5.png);
}

.catalog__item_6 {
  background-image: url(../img/photo6.png);
}

.catalog__item_5:hover {
  background-image: url(../img/photo5_back1.png), url(../img/photo5_back2.png), url(../img/photo5.png);
  background-position: 100% 0%, 100% 30%, center;
}