@import "../../../variables/variables.scss";
.catalog__item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color;
  background-size: cover;
  &_small {
    width: 23.2%;
    height: 500px;
    @media(max-width: $sm) {
      width: 40%;
      height: 250px;
    }
    @media (min-width: $xs) and (max-width: $md) {
      width: 40%;
      height: 500px;
    }
  }
  &_big {
    width: 48.2%;
    height: 700px;
    @media(max-width: $md) {
      width: 40%;
      height: 250px;
    }
    @media (min-width: $xs) and (max-width: $md) {
      width: 40%;
      height: 500px;
    }
  }
  &:hover {
    transition: 0.7s;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
  }
  &:not(:hover) {
    transition: 0.7s;
  }
}

.catalog__item_1,
.catalog__item_7,
.catalog__item_9 {
  background-image: url(../img/photo1.png);
}

.catalog__item_2,
.catalog__item_8,
.catalog__item_10 {
  background-image: url(../img/photo2.png);
}

.catalog__item_3 {
  background-image: url(../img/photo3.png);
}

.catalog__item_4 {
  background-image: url(../img/photo4.png);
  margin-top: -180px;
  @media(max-width: $md) {
    margin-top: 10px;
  }
}

.catalog__item_5 {
  background-image: url(../img/photo5.png);
}

.catalog__item_6 {
  background-image: url(../img/photo6.png);
}

.catalog__item:hover>.catalog__item-extra-photo-wrapper {
  opacity: 1;
  visibility: visible;
}