@import "../../variables/variables.scss";
.banner-list {
    display: flex;
    justify-content: space-around;
    @media(max-width: $xs) {
        flex-wrap: wrap;
    }
    width: 100%;
    margin-top: 50px;
    @media(max-width: $xs) {
        margin-top: 15px;
    }
}