.slider__title {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 150px;
  padding-bottom: 20px;
  &_bold {
    font-weight: bold;
  }
}