@import "../../../variables/variables.scss";
.catalog__item-description {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.2s;
    position: absolute;
    background-color: $white;
    margin-top: 500px;
    width: 23.86%;
    @media(min-width: $md) and (max-width: $lg) {
        width: 23.25%;
    }
    &_large {
        margin-top: 700px;
        width: 48.9%;
        @media(min-width: $md) and (max-width: $lg) {
            width: 48.3%;
        }
    }
}

.catalog__item:hover>.catalog__item-description {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.7s;
    @media(max-width: $md) {
        display: none;
    }
}