@import "../../../variables/variables.scss";
.catalog__item-description {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.2s;
    position: absolute;
    background-color: $white;
    margin-top: 503px;
    width: 23.86%;
    box-sizing: border-box;
    padding: 10px;
    @media(min-width: $md) and (max-width: $lg) {
        width: 23.35%;
    }
    &_large {
        margin-top: 703px;
        width: 48.9%;
        @media(min-width: $md) and (max-width: $lg) {
            width: 48.35%;
        }
    }
}

.catalog__item:hover>.catalog__item-description {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 3px 5px rgba(50, 50, 50, 0.5);
    transition: 0.3s;
    @media(max-width: $md) {
        display: none;
    }
}