@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff2"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none; }

* {
  margin: 0;
  padding: 0; }

.link,
.btn {
  cursor: pointer; }

.link,
.link:active,
.link:visited,
.link:hover {
  text-decoration: none; }

.btn:hover {
  background-color: #00c8c8;
  color: #ffffff;
  box-sizing: border-box;
  transition: 0.2s; }

.btn:not(:hover) {
  transition: 0.2s; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }


.auth {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin-left: 60%; }
  @media (max-width: 992px) {
    .auth {
      margin-left: 0; } }

.banner-award {
  width: 48%;
  height: 200px;
  background-color: #333333; }
  @media (max-width: 576px) {
    .banner-award {
      width: 95%;
      margin: 0 auto;
      height: 100px; } }
  .banner-award:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.banner-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px; }
  @media (max-width: 576px) {
    .banner-list {
      flex-wrap: wrap; } }
  @media (max-width: 576px) {
    .banner-list {
      margin-top: 15px; } }

.cart {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px; }

.casual-list-wrapper {
  padding: 5px; }

.casual-list {
  list-style: none;
  padding: 10px 0 0 0;
  line-height: 30px;
  font-size: 14px; }

.bottom-line {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  color: #777777;
  font-size: 13px; }
  @media (max-width: 576px) {
    .bottom-line {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .bottom-line {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .bottom-line {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .bottom-line {
      width: 1200px; } }

.bottom-line-wrapper {
  width: 100%;
  background-color: #333333;
  margin-top: 3%; }

.catalog {
  display: flex;
  flex-flow: column wrap;
  width: 1770px;
  column-width: 50%;
  height: 3000px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 576px) {
    .catalog {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .catalog {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .catalog {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1769px) {
    .catalog {
      width: 1200px; } }

.container {
  min-width: 1630px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 576px) {
    .container {
      min-width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .container {
      min-width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      min-width: 992px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .container {
      min-width: 1200px; } }
  @media (min-width: 1200px) and (max-width: 1769px) {
    .container {
      min-width: 1769px; } }

.currency {
  display: flex;
  justify-content: space-around;
  padding: 10px; }
  .currency:hover {
    background-color: #00c8c8;
    color: #ffffff;
    transition: 0.3s; }
  .currency:not(:hover) {
    transition: 0.3s; }

.footer-wrapper {
  width: 100%;
  background-color: #ffffff;
  margin-top: 25px;
  padding-top: 40px; }
  @media (max-width: 576px) {
    .footer-wrapper {
      margin-top: 0;
      padding-top: 0; } }

.footer {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff; }
  @media (max-width: 576px) {
    .footer {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .footer {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .footer {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .footer {
      width: 1200px; } }

.formal-list-wrapper {
  padding: 5px;
  margin-left: 25px; }

.formal-list {
  list-style: none;
  padding: 10px 0 0 0;
  line-height: 30px;
  font-size: 14px; }

.header {
  width: 100%;
  position: relative; }

.top-line-wrapper {
  width: 100%;
  background-color: #333333; }

.nav-line-wrapper {
  width: 100%;
  background-color: #ffffff; }

.slider-wrapper {
  width: 100%;
  background-color: #ffffff; }

.line {
  width: 1770px;
  margin: 80px auto 0 auto; }
  @media (max-width: 576px) {
    .line {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .line {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .line {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1769px) {
    .line {
      width: 1200px; } }
  @media (max-width: 576px) {
    .line {
      margin-top: 30px; } }
  .line_grey {
    color: #333333; }

.link-item {
  width: 20%; }
  @media (min-width: 576px) and (max-width: 576px) {
    .link-item {
      margin-left: 30px; } }
  @media (min-width: 576px) and (max-width: 1200px) {
    .link-item {
      width: 18%;
      margin-left: 10px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .link-item:last-child {
      display: none; } }

.link-item-list {
  list-style: none;
  padding: 0; }

.link-list {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 576px) {
    .link-list {
      display: none; } }

.logo {
  width: 25%;
  margin-right: 30%; }
  @media (max-width: 576px) {
    .logo {
      width: 100%;
      margin-right: 0; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .logo {
      width: 50%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .logo {
      width: 25%; } }
  @media (min-width: 992px) and (max-width: 1769px) {
    .logo {
      width: 30%; } }
  @media (min-width: 576px) and (max-width: 1769px) {
    .logo {
      margin-right: 0; } }

.lookbook {
  display: flex;
  width: 32%;
  height: 530px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  margin-top: 25px; }

.lookbook + .lookbook {
  margin-left: 2%; }

.lookbook-wrapper {
  overflow: hidden; }

.menu {
  width: 1770px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box; }
  @media (max-width: 576px) {
    .menu {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .menu {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .menu {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1769px) {
    .menu {
      width: 1200px; } }
  @media (max-width: 576px) {
    .menu {
      padding: 15px 2px; } }

.lookbook-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .lookbook-list {
      width: 320px;
      display: none; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .lookbook-list {
      width: 768px;
      display: none; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .lookbook-list {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .lookbook-list {
      width: 1200px; } }

.nav {
  font-size: 13px;
  line-height: 20px; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.nav-line {
  display: flex;
  justify-content: space-between;
  width: 1770px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box; }
  @media (max-width: 576px) {
    .nav-line {
      width: 320px;
      flex-wrap: wrap; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .nav-line {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .nav-line {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1769px) {
    .nav-line {
      width: 1200px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .nav-line {
      padding: 10px 3px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .nav-line {
      padding: 15px; } }

.nav-sublist {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.2s;
  position: absolute;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  text-transform: none;
  cursor: default; }

.nav__list-link:hover + .nav-sublist {
  opacity: 1;
  visibility: visible; }

.nav-sublist:hover {
  opacity: 1;
  visibility: visible; }

.sale-banner {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 48px;
  padding: 50px;
  margin-top: 50px; }
  .sale-banner:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .sale-banner_link {
    color: #ffffff; }
    .sale-banner_link:hover {
      color: #00c8c8; }

.search {
  height: 30px;
  margin: 10px;
  border: 1px solid #777777; }
  @media (max-width: 768px) {
    .search {
      float: left; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .search {
      margin: 10px 0; } }
  .search:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s; }

.menu-mobile {
  display: none;
  background-image: url(../img/menu.png);
  background-size: contain; }
  @media (max-width: 768px) {
    .menu-mobile {
      display: block;
      float: right;
      width: 30px;
      height: 30px;
      margin: 10px; } }

.slider {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background-blend-mode: multiply;
  background-image: url(../img/banner-ave1.png), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(75, 69, 66, 0.7);
  background-size: 80%, 100%; }
  @media (max-width: 576px) {
    .slider {
      height: 100px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .slider {
      height: 170px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .slider {
      height: 280px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .slider {
      height: 350px; } }

.social-links {
  float: right;
  width: 48%;
  height: 200px;
  background-color: #00c8c8;
  color: #ffffff; }
  @media (max-width: 576px) {
    .social-links {
      float: none;
      width: 95%;
      margin: 10px auto;
      height: 100px; } }

.social-links-list {
  list-style: none;
  text-align: center;
  line-height: 200px; }
  @media (max-width: 576px) {
    .social-links-list {
      line-height: 100px; } }

.sublist-wrapper {
  display: flex; }

.top-line {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  color: #777777;
  font-size: 13px; }
  @media (max-width: 576px) {
    .top-line {
      width: 320px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .top-line {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .top-line {
      width: 992px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .top-line {
      width: 1200px; } }

.auth__register {
  padding: 10px; }
  @media (max-width: 576px) {
    .auth__register {
      display: none; } }
  .auth__register_link {
    color: #777777; }
  .auth__register_link:hover {
    color: #00c8c8; }

.auth__signin {
  padding: 10px;
  overflow: hidden; }
  @media (max-width: 576px) {
    .auth__signin {
      margin-left: 10px; } }
  .auth__signin_link {
    color: #777777; }
  .auth__signin_link:hover {
    color: #00c8c8; }

.banner-award__content {
  height: 100%;
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 48px;
  font-weight: bold; }
  @media (max-width: 576px) {
    .banner-award__content {
      margin: 0 auto; } }
  @media (max-width: 576px) {
    .banner-award__content {
      font-size: 20px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .banner-award__content {
      font-size: 25px; } }

.cart__btn {
  margin-left: 10px; }

.icon-down-open:before {
  content: '\e800';
  font-size: 75%; }

.cart__logo {
  margin-right: 10px; }

.icon-basket:before {
  content: '\e802'; }


.casual-list__item-link {
  color: #333333; }
  .casual-list__item-link:hover {
    color: #00c8c8; }

.bottom-line__copyright {
  padding: 10px;
  margin-right: 45%; }
  @media (max-width: 576px) {
    .bottom-line__copyright {
      margin-right: 0; } }

.bottom-line__design {
  padding: 10px; }
  @media (max-width: 576px) {
    .bottom-line__design {
      display: none; } }

.bottom-line__development {
  padding: 10px; }
  @media (max-width: 576px) {
    .bottom-line__development {
      display: none; } }

.catalog__item {
  box-sizing: border-box;
  margin: 2% 1px 0 0;
  flex: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  background-size: cover; }
  .catalog__item_small {
    width: 24.5%;
    height: 500px; }
    @media (max-width: 768px) {
      .catalog__item_small {
        width: 48%; } }
    @media (max-width: 768px) {
      .catalog__item_small {
        height: 250px; } }
    @media (min-width: 576px) and (max-width: 768px) {
      .catalog__item_small {
        height: 400px; } }
  .catalog__item_big {
    width: 49.2%;
    height: 700px; }
    @media (max-width: 768px) {
      .catalog__item_big {
        width: 48%; } }
    @media (max-width: 768px) {
      .catalog__item_big {
        height: 250px; } }
    @media (min-width: 576px) and (max-width: 768px) {
      .catalog__item_big {
        height: 400px; } }
  .catalog__item:hover {
    transition: 0.7s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .catalog__item:not(:hover) {
    transition: 0.7s; }

.catalog__item_1,
.catalog__item_7,
.catalog__item_9 {
  background-image: url(../img/photo1.png); }

.catalog__item_2,
.catalog__item_8,
.catalog__item_10 {
  background-image: url(../img/photo2.png); }

.catalog__item_3 {
  background-image: url(../img/photo3.png); }

.catalog__item_4 {
  background-image: url(../img/photo4.png); }

.catalog__item_5 {
  background-image: url(../img/photo5.png); }

.catalog__item_6 {
  background-image: url(../img/photo6.png); }

.catalog__item_5:hover {
  background-image: url(../img/photo5_back1.png), url(../img/photo5_back2.png), url(../img/photo5.png);
  background-position: 100% 0%, 100% 30%, center;
  background-size: auto; }

.catalog__item-description {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.2s;
  position: absolute;
  background-color: #ffffff;
  margin-top: 450px;
  width: 24.5%; }
  @media (min-width: 576px) and (max-width: 768px) {
    .catalog__item-description {
      margin-top: 355px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .catalog__item-description {
      width: 48%; } }

.catalog__item:hover > .catalog__item-description {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.7s; }
  @media (max-width: 576px) {
    .catalog__item:hover > .catalog__item-description {
      display: none; } }

.catalog__item-description-icons {
  text-align: center;
  margin: 20px;
  color: #333333; }

.icon-basket:before {
  content: '\e802'; }

.icon-heart:before {
  content: '\e803'; }

.icon-exchange:before {
  content: '\f0ec'; }

.catalog__item-description-text {
  color: #333333;
  text-align: center;
  width: 100%; }
  .catalog__item-description-text_title {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase; }
  .catalog__item-description-text_desc {
    font-size: 15px;
    line-height: 22px; }

.catalog__item-price {
  padding: 10px;
  font-size: 21px; }
  @media (max-width: 576px) {
    .catalog__item-price {
      padding: 3px;
      font-size: 10px; } }

.currency__btn {
  margin-left: 5px; }

.icon-down-open:before {
  content: '\e800';
  font-size: 75%; }


.currency-set-list__item {
  list-style: none; }

.formal-list__item-link {
  color: #333333; }
  .formal-list__item-link:hover {
    color: #00c8c8; }

.link-item__info {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 15px; }

.link-item-list__link {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300; }
  .link-item-list__link_hover {
    color: #333333; }
  .link-item-list__link_hover:hover {
    color: #00c8c8; }

.logo__link {
  color: #333333; }

.logo__title {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0 10px 0; }
  @media (max-width: 576px) {
    .logo__title {
      padding: 10px 0;
      text-align: center; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .logo__title {
      padding: 10px 0 10px 50px; } }
  @media (min-width: 768px) and (max-width: 1769px) {
    .logo__title {
      padding: 10px 0 10px 0; } }

.logo__title_bold {
  font-weight: bolder; }

.lookbook__description {
  text-align: right;
  width: 45%;
  height: 100%;
  color: #777777;
  margin-top: 10%; }

.lookbook__description-title {
  font-size: 2vw;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase; }

.lookbook__description-text {
  font-size: 15px;
  line-height: 22px;
  font-family: "Roboto";
  margin-top: 10%;
  overflow: hidden; }

.lookbook__description-button {
  display: block;
  margin-top: 25%;
  margin-left: 50%;
  font-size: 0.8vw;
  letter-spacing: 3px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  outline: 0;
  border: 1px solid #777777; }
  .lookbook__description-button:focus, .lookbook__description-button:active, .lookbook__description-button:hover {
    outline: 0;
    border: 1px solid #00c8c8; }

.lookbook__image {
  width: 50%;
  height: 530px;
  background-image: url(../img/silhouette.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #f8f8f8;
  background-size: contain; }

.menu__link {
  margin: 10px 30px 10px 0;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333; }
  @media (max-width: 576px) {
    .menu__link {
      margin: 10px 7px 10px 0; } }
  @media (max-width: 576px) {
    .menu__link {
      font-size: 7px; } }
  .menu__link:hover {
    color: #00c8c8; }

.nav__item {
  list-style-type: none;
  margin: 0 10px;
  text-transform: uppercase;
  text-align: center; }

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0; }

.search__btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px; }

.icon-search:before {
  content: '\e804';
  color: #777777; }

.search__input {
  font-size: 13px;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px; }
  .search__input:focus {
    outline: 0; }

.slider__slogan {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 576px) {
    .slider__slogan {
      font-size: 14px; } }
  @media (max-width: 576px) {
    .slider__slogan {
      line-height: 0; } }

.slider__title {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px; }
  @media (max-width: 576px) {
    .slider__title {
      font-size: 20px; } }
  @media (max-width: 576px) {
    .slider__title {
      padding-bottom: 0; } }
  .slider__title_bold {
    font-weight: bold; }

.social-links-list__item {
  display: inline;
  color: #ffffff;
  font-size: 250%;
  margin: 0 20px;
  line-height: 200px; }
  @media (max-width: 576px) {
    .social-links-list__item {
      font-size: 200%; } }
  @media (max-width: 576px) {
    .social-links-list__item {
      line-height: 0px; } }
  .social-links-list__item_link {
    color: #ffffff; }
  .social-links-list__item_link:hover {
    color: #333333; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-twitter:before {
  content: '\f099'; }

.icon-instagram:before {
  content: '\f16d'; }

.icon-pinterest:before {
  content: '\f231'; }

.link-item__about {
  color: #333333;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300; }
  @media (min-width: 576px) and (max-width: 1200px) {
    .link-item__about {
      line-height: 22px; } }

.nav__list-link {
  color: #333333; }
  .nav__list-link:hover {
    color: #00c8c8; }
