.lookbook__image {
    float: left;
    width: 50%;
    height: 530px;
    background-image: url(../img/silhouette.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #f8f8f8;
    background-size: contain;
}