.nav-list__item {
  list-style-type: none;
  font-size: 13px;
  margin: 0 10px;
  text-transform: uppercase;
  &_link {
    display: inline-block;
    color: #333333;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      color: #00c8c8;
      text-decoration: none;
    }
    &_link:active,
    &_link:visited {
      text-decoration: none;
    }
    &:focus {
      border: .5px dotted #00c8c8;
    }
  }
}