@import "../../variables/variables.scss";
.catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: $content-width;
  @media(max-width: $xl) {
    width: 100%;
  }
  margin: 0 auto;
  position: relative;
}