@import "../../variables/variables.scss";

.catalog {
    max-width: $content-width;
    @media(max-width: $xs) {
    width: $mobile;
}

@media(min-width: $xs) and (max-width: $sm) {
    width: $sm;
}

@media(min-width: $sm) and (max-width: $md) {
    width: $md;
}

@media(min-width: $lg) {
    width: $lg;
}

margin: 0 auto;
  position: relative;
}