@import "../../variables/variables.scss";
@import "../button/button.scss";
.modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 40%;
  animation: linear .4s linear;
  @-webkit-keyframes linear {
    0% {
      opacity: 0;
      -webkit-transform: translateY(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes linear {
    0% {
      opacity: 0;
      -moz-transform: translateY(0);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @media(max-width: $md) {
    width: 80%;
  }
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  font-size: 30px;
  line-height: 57px;
  color: rgb(0, 0, 0);
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  @media(max-width: $xs) {
    display: block;
  }
}

.modal-form__date {
  width: 10%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-date__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__quontity {
  width: 10%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-quontity__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__color {
  width: 20%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-color__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__size {
  width: 15%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-size__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__name {
  width: 31%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-name__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__email {
  width: 23.5%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-email__input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-form__message {
  width: 73%;
  padding: 10px 0;
  @media(max-width: $xs) {
    width: 100%;
  }
}

.modal-form-message__input {
  width: 100%;
  border-radius: 5px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.button-send {
  @extend .button;
  width: 25%;
  margin: 20px auto;
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  @media(max-width: $xs) {
    width: 50%;
  }
}

.icon-paper-plane:before {
  content: '\f1d8';
  color: #ffffff;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#text-review {
  width: 100%;
  height: 80px;
}