.header {
  width: 100%;
  position: relative;
}

.top-line-wrapper {
  width: 100%;
  background-color: #333333;
}

.nav-line-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.slider-wrapper {
  width: 100%;
  background-color: #ffffff;
}