.banner-award__content {
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 48px;
  font-weight: bold;
}