@import "../../../variables/variables.scss";
.product-description__price {
  color: #777777;
  font-size: 30px;
  letter-spacing: 2px;
  &_crossed {
    text-decoration: line-through;
  }
  @media(max-width: $xs) {
    text-align: center;
  }
}