@import "../../../variables/variables.scss";
.product-description__multiple-selection {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  width: 70%;
  @media(min-width: $mobile) and (max-width: $xs) {
    width: 100%;
    justify-content: space-around;
  }
}