@import "../../../variables/variables.scss";
.product-description__range {
  margin-top: 30px;
  width: 70%;
  font-size: 13px;
  font-weight: bold; 
  @media(max-width: $xs) {
    width: 100%;
  }
}

#amount {
  border: 0;
  color: black;
  font-weight: bold;
}

#slider-range {
  margin-top: 15px;
}