@import "../../variables/variables.scss";
.button-order {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  border: 1px solid $primary-color;
  padding: 10px 0 10px 20px;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: #2b2b2b;
    color: $white;
    transition: 0.2s;
  }
  &:not(:hover) {
    transition: 0.2s;
  }
  @media(max-width: $md) {
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 12px;
    justify-content: space-around;
    width: 100px;
  }
  @media(min-width: $sm) and (max-width: $md) {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    justify-content: space-around;
  }
}