@import "../../../variables/variables.scss";
.menu__link {
  margin: 10px 30px 10px 0;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-color;
  @media(max-width: $sm) {
    font-size: 11px;
    margin: 10px 0;
  }
  &:hover {
    color: $brand-color;
  }
}