@import "../../variables/variables.scss";
.layout {
    min-width: 1630px;
    @media(max-width: $xs) {
        min-width: $mobile;
    }
    @media (min-width: $xs) and (max-width: $sm) {
        min-width: $sm;
    }
    @media (min-width: $sm) and (max-width: $md) {
        min-width: $md;
    }
    @media (min-width: $md) and (max-width: $lg) {
        min-width: $lg;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        min-width: $xl;
    }
    margin: 0 auto;
    font-family: 'Montserrat',
    sans-serif;
}