.banner {
  width: 100%;
  .banner-inner {
    width: 960px;
    height: 336px;
    margin: 40px auto;
    background-image: url(../img/banner-picture.png);
    background-size: 100%;
    .banner-text {
      color: #fff3eb;
      font-family: "Open Sans";
      font-size: 38px;
      padding: 70px 0 0 90px;
      span{
        font-weight: bold;
      }
    }
    .banner-button {
      padding-left: 180px;
      padding-top: 20px;
      button {
        color: #ffffff;
        opacity: 0.8;
        font-size: 24px;
        line-height: 40px;
        border: 1px solid #fff3eb;
        padding: 0 35px;
        outline: none;
        border: 1px solid #fff3eb;
        background-color:transparent;
      }
      button:hover {
        transform: scale(1.1);
        opacity: 0.6;
      }
    }
  }
}
