.best-sellers {
  width: 100%;
}

.best-sellers-inner {
  width: 960px;
  margin: 30px auto;
}

// .block-title {
//   margin: 20px 0;
//   font-size: 24px;
// }
.best-sellers-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .best-sellers-inner {
    width: 100%;
    margin: 0 auto;
  } // .block-title {
  //   margin: 0 10px;
  //   font-size: 14px;
  // }
}