.featured-collection {
  width: 100%;
}

.featured-collection-inner {
  width: 960px;
  margin: 30px auto;
}

.block-title {
  margin: 20px 0;
  font-size: 24px;
}

.featured-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .featured-collection-inner {
    width: 100%;
    margin: 0 auto;
  }
  .block-title {
    margin: 10px 10px;
    font-size: 14px;
  }
}