.featured-collection {
  width: 100%;
}

.featured-collection-inner {
  width: 960px;
  margin: 30px auto;
}

.block-title {
  margin: 20px 0;
  font-size: 24px;
}

.featured-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}