.header {
  width: 100%;
}

.first-line {
  width: 100%;
  background: #f6f6f6;
}

.first-line-inner {
  width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.rating {
  width: 50%;
  .trustpilot {
    display: block;
  }
  p {
    display: inline-block;
    margin-top: 5px;
  }
  @media (max-width: 991.98px) {
    width: 63%;
    font-size: 10px;
  }
}

.auth {
  width: 50%;
  text-align: right;
  margin: auto;
  a {
    padding: 0 5px;
  }
  @media (max-width: 767.98px) {
    width: 25%;
    font-size: 9px;
  }
  @media (max-width: 991.98px) {
    width: 30%;
  }
}

.main-info {
  width: 100%;
}

.main-info-inner {
  width: 960px;
  margin: 0 auto;
  padding: 25px 10px;
  display: flex;
  @media (max-width: 991.98px) {
    width: 100%;
    padding: 15px 0;
  }
}

.logo {
  width: 25%;
  img {
    width: 195px;
  }
  @media (max-width: 767.98px) {
    width: 38%;
    img {
      width: 120px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 30%;
  }
}

.call-us {
  width: 50%;
  display: flex;
  @media (max-width: 575.98px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 35%;
  }
}

.call-us-inner {
  margin: auto 0px;
}

.call {
  color: #333333;
  font-size: 19px;
  font-weight: bold;
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 16px;
    padding-top: 0;
  }
}

.tel {
  color: #dc5047;
  font-size: 21px;
  padding-top: 5px;
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 11px;
    padding-top: 0;
  }
}

.time {
  color: #333333;
  font-size: 14px;
  padding-top: 5px;
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 11px;
    padding-top: 0;
  }
}

.info-bar {
  width: 25%;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  @media (max-width: 768.98px) {
    width: 70%;
    padding: 0;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 34%;
    padding: 0;
  }
}

.cart {
  width: 215px;
  background-color: #333333;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  .link-icon {
    font-size: 16px;
    color: #f6f6f6;
    transition: 2s ease;
  }
  .link-icon:hover {
    color: #f19200;
  }
  span {
    font-size: 18px;
  }
  @media (max-width: 767.98px) {
    width: 170px;
    margin-bottom: 2px;
    span {
      font-size: 15px;
    }
  }
}

.search {
  width: 215px;
  border: 1px solid #000;
  background: #ffffff;
  box-sizing: border-box;
  @media (max-width: 767.98px) {
    width: 170px;
  }
}

.input-search {
  width: 190px;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 3px;
  transition: 2s ease;
  @media (max-width: 767.98px) {
    width: 140px;
  }
}

.input-search:focus {
  background: #f5dab2;
}

.btn-search {
  box-sizing: border-box;
  border: none;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  transition: 2s ease;
}

.btn-search:hover {
  color: #f19200;
}

.nav-bar {
  width: 100%;
  background-color: #333333;
  margin: 10px 0;
}

.nav-bar-inner {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  ul {
    display: flex;
    li {
      display: block;
      list-style-type: none;
      font-size: 21px;
      font-weight: bold;
      margin-right: 55px;
      a {
        color: #ffffff;
      }
      a:hover {
        color: #f19200;
      }
    }
  }
  @media (max-width: 991.98px) {
    width: 100%;
    padding: 10px;
    ul {
      li {
        font-size: 14px;
        font-weight: bold;
        margin-right: 20px;
      }
    }
  }
}