.footer-wrapper {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 25px;
  padding-top: 40px;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f8f8f8;
}