@import "../../../variables/variables.scss";
.slider__title {
  margin: 0;
  font-size: 48px;
  @media(max-width: $xs) {
    font-size: 20px;
  }
  letter-spacing: 2px;
  line-height: 54px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px;
  @media(max-width: $xs) {
    padding-bottom: 0;
  }
  &_bold {
    font-weight: bold;
  }
}