.catalog__item-description-icons {
    text-align: center;
    margin: 20px;
    color: #333333;
}

.icon-basket:before {
    content: '\e802';
}

.icon-heart:before {
    content: '\e803';
}

.icon-exchange:before {
    content: '\f0ec';
}