.catalog__item-description-text {
    color: #333333;
    text-align: center;
    width: 100%;
    &_title {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
  &_desc {
    font-size: 15px;
    line-height: 22px;
}
}