@import "../../../variables/variables.scss";
.lookbook__description {
    text-align: right;
    width: 45%;
    height: 100%;
    color: $light-gray;
    margin-top: 10%;
}

.lookbook__description-title {
    font-size: 2vw;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lookbook__description-text {
    font-size: 15px;
    line-height: 22px;
    font-family: "Roboto";
    margin-top: 10%;
    overflow: hidden;
}

.lookbook__description-button {
    display: block;
    margin-top: 25%;
    margin-left: 50%;
    font-size: 0.8vw;
    letter-spacing: 3px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    outline: 0;
    border: 1px solid $light-gray;
    &:focus,
    &:active,
    &:hover {
        outline: 0;
        border: 1px solid $marine;
    }
}