@import "../../variables/variables.scss";
.rating {
  float: left;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 28px;
  margin-top: -3px;
  color: lightgray;
  margin-left: 10px;
  margin-right: 10px;
  @media(max-width: $xs) {
    margin-top: 10px;
  }
}

.rating>.rating__star {
  display: inline-block;
  position: relative;
  width: 0.4em;
  cursor: pointer;
}

.rating>.rating__star:hover:before,
.rating>.rating__star:hover~.rating__star:before,
.rating>.rating__star.rating__star_rated:before,
.rating>.rating__star.rating__star_rated~.rating__star:before {
  content: "\1f7ca";
  position: absolute;
  color: gold;
}