@import "../../variables/variables.scss";
.menu {
    width: $content-width;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    @media(max-width: $xs) {
        display: none;
    } 
    @media(max-width: $lg) {
        width: 100%;
        justify-content: space-around;
    }
}