.social-links-list__item {
  display: inline;
  color: #ffffff;
  font-size: 250%;
  margin: 0 20px;
  line-height: 200px;
  &_link {
    color:#ffffff;
  }
  &_link:hover {
    color: #333333;
  }
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-instagram:before {
  content: '\f16d';
}

.icon-pinterest:before {
  content: '\f231';
}