@import "../../../variables/variables.scss";
.auth__register {
  padding: 10px;
  @media(max-width: $xs) {
    display: none;
  }
  &_link {
    color: $light-gray;
  }
  &_link:hover {
    color: $marine;
  }
}