.search__btn {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}

.icon-search:before {
    content: '\e804';
    color: #777777;
}