@import "../../variables/variables.scss";
.banner-award {
    width: 48%;
    height: 200px;
    @media(max-width: $xs) {
        width: 95%;
        margin: 0 auto;
        height: 100px;
    }
    background-color: $primary-color;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}