@import "../../../variables/variables.scss";
.slider__slogan {
  font-size: 30px;
  @media(max-width: $xs) {
    display: none;
  }
  @media(max-width: $md) {
    font-size: 14px;
  }
  font-weight: bold;
  @media(max-width: $xs) {
    line-height: 0;
  }
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  &_brand-color {
    color: $brand-color;
  }
}